.App {
  text-align: center;
  position: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Coronavirus tracker class*/

*{
  margin: 0;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
}
/* Navigation bar */
.navbarvw{
  width: 100vw;
}
.navbar{
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-shadow: 2px 8px 7px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Covid Cases Display */

.caseinfocontainer{
  padding-top: 80px;
  min-height: 100vh;

  background-image: url("./component/home/image/covidbg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.caseinfomargin{
  margin: 0px 20px;
}
.casesinfo{
  text-align: center;
  margin: 15px;  
  height: 15rem;
  width: 30rem;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 1rem;  

  /* box-shadow: 2px 8px 6px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966); */
}
.caseheading{
  padding: 1rem;
  font-style: bold;
    font-weight: 700;
}
.count{
  padding-top: 40px;
  padding-bottom: 20px;
  float: left;
  font-style: bold;
    font-weight: 400;
    font-size:xx-large;
    font-family: 'Copse', serif;
}



.about{
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

#myInput{
  border-radius: 25px;
  border: 3px solid #be60e9;
  padding: 10px;
  justify-content: center;
  /* margin: auto 50%; */
  box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
  text-align: center;
  font-size:20px;
  width: 40rem;
}

.inputdiv{
  margin-top: 60px;
  margin-bottom: 20px;
  position:static;
}

input:focus {outline:0;}



.MuiSvgIcon-root{
  height: 40px;
  padding-right: 15px;
}

.decrease{
  transform: rotateX(180deg);
}


#totalcases{
  
  background-color: #61dafb;
  box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
-webkit-box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
-moz-box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
}
#recovered{
  background-color: #AFD275;
  box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
-webkit-box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
-moz-box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
}
#deaths{
  background-color:#E7717D;
  box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
-webkit-box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
-moz-box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
}
#vaccinated{
  background-color: #C2B9B0;
  box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
-webkit-box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
-moz-box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
}

/* table styling */

#mydatatable{
  width: 100%;
}

.statetablecontainer{
}


.tabledivcss{
  box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
  margin-top: 60px;
  margin-bottom: 70px;
  border-radius: 19px;
}
table.tablecss {
  border-collapse: collapse;
}
table.tablecss td {
  font-style: bold;
    font-weight: 400;
    font-size:large;
    font-family: 'Old Standard TT', serif;
}
table.tablecss tr:first-child td {
  border-top: 0;
}
table.tablecss tr td:first-child {
  border-left: 0;
}
table.tablecss tr:last-child td {
  border-bottom: 0;
}
table.tablecss tr td:last-child {
  border-right: 0;
}

table.tablecss th {
  font-style: bold;
    font-weight: 700;
    font-size:x-large;
}

.stateheading{
  text-align: center;
}

.stateshow{
  padding-top: 60px;
}
/* Medicine Page */

.addLead{
  margin-left: 20%;
  margin-bottom: 10px;
}


/* Vaccnation Page Styling */


.buttonContainer {
  background-color: #474e5d;
  border-radius: 25px;
  
  
  width: 25rem;
  height: 3rem;
 
  
  
}
.pinButtoncss {
  border: none;
  background-color: transparent;
  float: left;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.districtButtoncss {
  border: none;
  background-color: transparent;
  float: left;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.toggleButton {
  background-color:	#696969;
  color: white;
  box-shadow: -4px 6px 12px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 6px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 6px 12px 0px rgba(0,0,0,0.75);
  border-radius: 25px;
  text-shadow: 2px 8px 13px rgba(255, 255, 255, 0.911), 0px -5px 35px rgba(252, 252, 252, 0.966);
}
button:focus {outline:0;}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}



/* About Page Styling */

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #343A40;
  padding: 50px;
}

footer p {
  color: #ccc;
}



.searchbtn{
  margin-bottom: 60px;
}

.se
{
  border-radius: 25px;
  border: 2px solid;
  padding: 10px;
  justify-content: center;
  text-align: center;
  font-size:20px;
  width: 46rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pin-btn
{
  border-radius: 15px;
  color: black;
  margin-left: 8px;
  margin-top: 20px;
  height: 50px;
}


.drop-down1
{
  margin-top: 40px;
  margin-right: 6px;
  width: 17rem;
  height: 2rem;
  outline: 0px solid transparent;
}

.drop-down2
{
  width: 17rem;
  
  margin-right: 20px;
  margin-left: 6px;
  height: 2rem;
  margin-top: -38px;
}

.distsearch
{
  
  margin-bottom :90px;
}

.toggle
{
  margin-top: 20px;
  margin-bottom: 20px;
  top:30px;
}


.pinsearch{
  margin-bottom: 60px;
}


div.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  float: left;
  width: 400px;
  background: #f1f1f1;
}

/* Style the submit button */

div.example{
  margin:auto;
  max-width:900px
}

div.example button {
  float: left;
  width: 100px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  cursor: pointer;
}

div.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
div.example::after {
  content: "";
  clear: both;
  display: table;
}



.dist-btn
{
  background-color: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 90px;
  cursor: pointer;
}



/* Display Table result */




table.displayresults
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border:none;
    border-color: white;
}
  
.displayresults td 
{
    border: 1px solid lightgrey;
   
    border-right:none;
    border-left:none;
    border-top:none;

    text-align: left;
    padding: 20px;
}

.displayresults th
{
    border: 1px solid lightgrey;
   
    border-right:none;
    border-left:none;
    border-top:none;

    text-align: left;
    padding: 20px;
}


/*  
tr:nth-child(even) {
    background-color: #dddddd;
}
*/


.up
{
    font-weight: normal;
}
  

.down
{
    font-weight: lighter;
    color:#998fa2;
}

.dt
{
    background: rgba(0,0,0,0.04);
    padding: 20px 5px;
}

.bbn
{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    background-color: red;
    padding: 0 8px;
    display: flex;
    width: 50px;
    line-height: 20px;
    margin-top: 5px;
    border-radius: 50px;
    align-content: center;
    justify-content: center;
    height: 20px;
}


.nbn
{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    background-color: #f3f3f3;
    padding: 0 8px;
    display: flex;
    width: 50px;
    line-height: 20px;
    margin-top: 5px;
    border-radius: 50px;
    align-content: center;
    justify-content: center;
    height: 20px;
}


.avl
{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    background-color: #a9d18e;
    padding: 0 8px;
    display: flex;
    width: 50px;
    line-height: 20px;
    margin-top: 5px;
    border-radius: 50px;
    align-content: center;
    justify-content: center;
    height: 20px;
}


.cardcontainer
{
  margin-top: 90px;
}






/* 
.data {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.data h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.data p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.data button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
} */


.vaccination-container{
  height: 78vh;
}

.add
{
  padding:40px;
}


.vad
{
  margin-top: -200px;
  margin-left:1000px;
}






.registration-form{
  padding: 50px 0;
  border-bottom: 25px;
  background-color: #dee9ff;
  }
  
  
  
  
  .registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .registration-form .form-icon{
  text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
  }
  
  .registration-form .item{
  border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
  }
  
  .registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 30px;
    width: 150px;
  }

  #addleadh1{
    margin-bottom: 50px;
    font-style: bold;
    font-weight: 700;
  }
  
  .registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
  }
  
  
  
  .registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    /*color: #5691ff;*/
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    /*background-color: #fff;*/
    line-height: 45px;
  }
  
  .registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
  }
  
  @media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }
  
    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
  }